{% extends "base.html" %}

{% block title %}About Us{% endblock title %}

{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/aboutus.css">
    <div class ="heading">
        <h1>About Us</h1>
        <p >Here you will find all you want to know about us.</p>
    </div>
    <div class="container">
        <section class="About">
            
            <div class="about-content">
                <p>
                    Events, whether they be community gatherings, corporate conferences, product launches, or weddings, are frequently planned with particular aims and goals in mind. thus our talented team will always make effort to provide an excellent experience for our client.
                </p>
                <a href ="#"class ="read-more"> Read More</a>
            </div>
        </section>
    </div>
    <div class ="footer">
        <h1>Our Team</h1>
    </div>
    <div class ="container-teams">
        
        <div class="teams">
            <div  class="pic">
                 
            </div>
            <div class ="name">Subhash Chandra Adhikari</div>
            <div class="about">My name is Subhash Chandra Adhikari. I am a student at Nepal engineering college.
            I am a 2nd year student.</div>

            <div class="social-links">
                <a href="#" class="n1"><i class ="fa-brands fa-facebook"></i></a>
                <a href="#" class="n2"><i class="fa-brands fa-instagram"></i></i></a>
            </div>
        </div>

        <div class="teams">
               <div class="pict">
                 </div>
                <div class ="name">Piya Neupane</div>
                <div class="about">My name is Piya Neupane. I am a student at Nepal engineering college.
                I am a 2nd year student.</div>
    
                <div class="social-links">
                    <a href="#" class="n1"><i class ="fa-brands fa-facebook"></i></a>
                    <a href="#" class="n2"><i class="fa-brands fa-instagram"></i></i></a>
                </div>
         </div>

        <div class="teams">
                    <div class="pictu">

                    </div>
                    <div class ="name">Rishav Chaudhary</div>
                    <div class="about">My name is Rishav Chaudhary. I am a student at Nepal engineering college.
                    I am a 2nd year student.</div>
        
                    <div class="social-links">
                        <a href="#" class="n1"><i class ="fa-brands fa-facebook"></i></a>
                        <a href="#" class ="n2"><i class="fa-brands fa-instagram"></i></i></a>
                    </div>
        </div>
    </div>

{% endblock body %}