{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="index style.css">  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index style.css' %}">
    <title>{%block title%}{%endblock title%} | Event Management</title>
</head>
<body>
        <!-- for logo of our website -->
<!-- for search-icon -->
        <!-- <div class="nav-seacrh">
            <select class ="search-select">
                <option>All</option>
            </select>  
            <input placeholder="Search Events"class ="search-input">
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div> -->
        <!-- now for menu bar or nav bar  -->
        
        <!-- <div class="nav-singin border">
            <p ><span>Hello,sing in</span></p>
            <p class="nav-second">Account & Lists</p>
        </div>

        <div class="nav-return border">
            <p ><span>Returns</span></p>
            <p class="nav-second">&Order</p>
        </div>

        <div class="nav-cart border">
            <i class="fa-solid fa-cart-shopping"></i>
            cart
        </div>
     </div> -->
    <nav>
        <div class="logo">Event Management</div>
        <input type="checkbox" id="click" />
        <label for="click" class="menu-btn">
          <i class="fas fa-bars"></i>
        </label>


        <div class="input-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here..." />
            <button class="button">Search</button>
          </div>
     <ul>
        <li class="active"><a href="#"></i>Home</a></li>
        <li><a href="/about"></i>About Us</a></li>
        <li><a href="#"></i>Services</a></li>
        <li><a href="#">Booking</a></li>
        <li><a href="#">Contact Us</a></li>
     </ul>
     </div>
    </nav>

    {% block body%}
    {% endblock body%}
    
</body>
</html>