{% extends "base.html" %}
{% block Title %}Birthday{% endblock Title %}
{% block body %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/futsal.css">
</head>
<body>
	<h1> Venues </h1>
	<div class="character">
		<div class="name">Heaven Banquet</div>
		<div class="location">Mulpani</div>
		<div class="about">
			{% comment %} <div class="price">Rs 900</div> {% endcomment %}
			<div class="Owner">rishav chaudhary</div>
		</div>
	</div>
	<div class="character">
		<div class="name">Royal bakery </div>
		<div class="location">changu</div>
		<div class="about">
			{% comment %} <div class="price">Rs 900</div> {% endcomment %}
			<div class="Owner">Spanda neupane</div>
		</div>
	</div>
	<div class="character">
		<div class="name">ghappe</div>
		<div class="location">kumari pati</div>
		<div class="about">
			{% comment %} <div class="price">Rs 900</div> {% endcomment %}
			<div class="Owner">Sushant neupane</div>
		</div>
	</div>
	<div class="character">
		<div class="name">Queen's cafe</div>
		<div class="location">suncity</div>
		<div class="about">
			{% comment %} <div class="price">Rs 900</div> {% endcomment %}
			<div class="Owner">Subhash Adhikari</div>
		</div>
	</div>
	{% comment %} <div class="character">
		<div class="name">Nico, Robin</div>
		<div class="role">Main</div>
		<div class="voice">
			<div class="language">Japanese</div>
			<div class="actor">Yamaguchi, Yuriko</div>
		</div>
	</div>
	<div class="character">
		<div class="name">Monkey D., Luffy</div>
		<div class="role">Main</div>
		<div class="voice">
			<div class="language">Japanese</div>
			<div class="actor">Nakai, Kazuya</div>
		</div>
	</div>
	<div class="character">
		<div class="name">Roronoa, Zoro</div>
		<div class="role">Main</div>
		<div class="voice">
			<div class="language">Japanese</div>
			<div class="actor">Tanaka, Mayumi</div>
		</div>
	</div> {% endcomment %}
	<div class="view-more">
		<a href="#">View more></a>
	</div>
</body>
</html>
{% endblock body %}
