{% extends "base.html" %}

{% block additional_css %}
    <link rel="stylesheet" type="text/css" href="/static/css/contactus.css">
{% endblock %}

{% block title %}Contact Us{% endblock title %}

{% block body %}

<div class="container">
    <div class="left">
      <img src="people.jpg" alt="People" class="photo">
    </div>
    <div class="right">
      <h1>Contact Us</h1>
      <form method="post" action="/contact">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <textarea name="message" placeholder="Message" rows="5" required></textarea>
        <p>Contact: hi@fashion.com</p>
        <p>Based in San Francisco, California</p>
        <input type="submit" value="Submit">
      </form>
      <div class="social">
        <a href="https://www.facebook.com" target="_blank"><img src="facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com" target="_blank"><img src="instagram.png" alt="Instagram"></a>
        <a href="https://www.twitter.com" target="_blank"><img src="twitter.png" alt="Twitter"></a>
      </div>
    </div>
  </div>

{% endblock body %}