{% extends "base.html" %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/final.css">
</head>
<body>
<div class="futsal-cover">
<img src="/static/images/futsal.jpg" alt="futsal">
</div>
<div class="futsal-details">
<h2>A image of our futsal</h2>
{% comment %} <p>Spiral (A Guide Book of United States Coins) <br>
by Jeff Garrett (Author, Editor), Q. David Bowers (Editor)</p> {% endcomment %}
<div class="rating">
<span class="star">★</span>
<span class="star">★</span>
<span class="star">★</span>
<span class="star">★</span>
<span class="star">★</span>
<span class="rating-text">4.7 ★★★★★ - 1,513 ratings</span>
</div>
{% comment %} <h3>#1 Best Seller in Antiques & Collectibles Encyclopedias</h3> {% endcomment %}
<ul>
{% comment %} <li>New research, new photographs, updated pricing, the latest U.S. Mint data, new auction records, and more!</li>
<li>472 pages, 2,000+ images, with more than 7,600 listings and 32,500+ coin prices.</li>
<li>Over 25 million copies sold since the 1st edition!</li>
</ul>
<h4>The Official Red Book®-A Guide Book of United States Coins-is 77 years young and going strong.</h4>
<p>Since 1946 collectors around the country have loved the book's grade-by-grade coin values, historical background, detailed specifications, high-resolution photographs, and accurate mintage data.</p>
<p>How rare are your coins? How much are they worth? The 77th edition of the Red Book tells you, covering everything from early colonial copper tokens to hefty Old West silver dollars and dazzling gold coins.</p>
<p>You'll find 32,500+ prices and auction records for nearly 8,000 coins, tokens, medals, sets, and other collectibles.</p>
<p>You'll also round out your education in classic and modern commemoratives, Proof and Mint coins, error coins, Civil War tokens, Confederate coins, Philippine coins struck under U.S. sovereignty, private gold, all the latest American Women quarters, Native American dollars, American Innovation dollars, bullion coins (silver, gold, platinum, and palladium), and more.</p>
<p>Articles on investing, grading coins, and detecting counterfeits will make you a savvy collector; and entertaining essays on the history of American coinage, third-party grading, and the modern rare-coin market give you an inside look at "the hobby of kings."</p>
<h4>These are just some of the features of the Red Book.</h4>
<p>✓ Read more</p> {% endcomment %}
</div>
<div class="purchase-info">
{% comment %} <p>Reading age 1 year and up</p>
<p>Print length 1.472 pages</p>
<p>Language English</p>
<p>Dimensions 5.4 x 1.4 x 7.1 inches</p>
<p>Publisher Whitman Publishing, LLC</p> {% endcomment %}
<div class="price">
<span class="price-text">$14.36</span>
<span class="list-price">List Price: $17.95</span>
</div>
{% comment %} <p>Ships from Amazon.com</p>
<p>Sold by Amazon.com</p>
<p>Returns Add to Cart Buy Now</p>
<p>Eligible for Return, Refund or Replacement within 30 days of receipt</p>
<p>Secure transaction</p> {% endcomment %}
</div>
</body>
</html>
{% endblock body %}