{% extends "base.html" %}
{% block Title %}Futsal{% endblock Title %}
{% block body %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/futsal.css">
</head>
<body>
	<h1> Futsal Venues </h1>
	<div class="character">
		<div class="name">Royal Futsal</div>
		<div class="location">Location</div>
		<div class="about">
			<div class="price">Rs 900</div>
			<div class="Owner">rishav chaudhary</div>
		</div>
	</div>
	<div class="character">
		<div class="name">Sathi Futsal</div>
		<div class="location">Mulpani</div>
		<div class="about">
			<div class="price">Rs 850</div>
			<div class="Owner"> suraj Karki</div>
		</div>
	</div>
	<div class="character">
		<div class="name"> Neupane's Futsal</div>
		<div class="location"> Basundhara </div>
		<div class="about">
			<div class="price">Rs 900</div>
			<div class="Owner"> Piya Neupane </div>
		</div>
	</div>
	<div class="character">
		<div class="name">yamuna's Futsal</div>
		<div class="location">Boudha</div>
		<div class="about">
			<div class="price">Rs 1000</div>
			<div class="Owner">Yamuna Rai</div>
		</div>
	</div>
	{% comment %} <div class="character">
		<div class="name">Nico, Robin</div>
		<div class="role">Main</div>
		<div class="voice">
			<div class="language">Japanese</div>
			<div class="actor">Yamaguchi, Yuriko</div>
		</div>
	</div>
	<div class="character">
		<div class="name">Monkey D., Luffy</div>
		<div class="role">Main</div>
		<div class="voice">
			<div class="language">Japanese</div>
			<div class="actor">Nakai, Kazuya</div>
		</div>
	</div>
	<div class="character">
		<div class="name">Roronoa, Zoro</div>
		<div class="role">Main</div>
		<div class="voice">
			<div class="language">Japanese</div>
			<div class="actor">Tanaka, Mayumi</div>
		</div>
	</div> {% endcomment %}
	<div class="view-more">
		<a href="#">View more></a>
	</div>
</body>
</html>
{% endblock body %}
