{% extends "base.html" %}
<!-- this will use base.html -->

{% block title %}Home{% endblock title %}

{% block body %}

<!-- home seaction starts here -->

<section class ="home" id ="home">
    <div class="content">
        <h3>it's time to celebrate! the best <span> Events </span> </h3>
        {% comment %} <a href="{% url 'register' %}"class ="btn">Sign Up</a> {% endcomment %}
    </div>

    <div class=" swiper home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/static/images/futsal.jpg" alt=""></div>
            <div class="swiper-slide"><img src="/static/images/music.jpg" alt=""></div>
            <div class="swiper-slide"><img src="/static/images/party events.jpg" alt=""></div>
            <div class="swiper-slide"><img src="/static/images/wedding.jpg" alt=""></div>

        </div>
    </div>
</section>

<!-- home seaction ends here -->

 <!-- Service seaction starts  -->
 <seaction class ="Servics" id="Service">
    <h1 class="heading">our<span>Services</span></h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>Venues Selection</h3>
            <p>We will give you all the wide range in chooing the venues as our main purpose is to insure that our user can save the time so they will have more option in vanue.</p>
        </div>

        <div class="box">
            <i class="fas fa-music"></i>
            <h3>Entertainment</h3>
            <p>We will give you all the wide range in chooing the venues as our main purpose is to insure that our user can save the time so they will have more option in vanue.</p>
        </div>

        <div class="box">
            <i class="fas fa-birthday-cake"></i>
            <h3>custom food</h3>
            <p>We will give you all the wide range in chooing the venues as our main purpose is to insure that our user can save the time so they will have more option in vanue.</p>
        </div>

        <div class="box">
            <i class="fas fa-photo-video"></i>
            <h3>photos&videos</h3>
            <p>We will give you all the wide range in chooing the venues as our main purpose is to insure that our user can save the time so they will have more option in vanue.</p>
        </div>
    </div>

</seaction>

<!-- Service seaction ends  -->

 <!-- about section starts -->

 <section class="Abouts" id="About">
    <h1 class ="heading"><span>about</span> us </h1>

    <div class="row">
        <div class="image">
            <img src="/static/images/home page 1.jpg"alt="">
        </div>

        <div class="content">
            <h3>We will give a special celebration for you</h3>
            <p>Events, whether they be community gatherings, corporate conferences, product launches, or weddings, are frequently planned with particular aims and goals in mind.
             thus our talented team will always make effort to provide an excellent experience for our client.</p>
            <p>We asure you that you will have a great experience working with us</p>
            <a href="#" class="btn">Contact us</a>
        </div>
    </div>
</section>

<!-- about section ends -->

<!-- Gallery sectoin starts  -->
<section class="gallery" id="gallery">
        
    <h1 class="heading">our<span>gallery</span></h1>

    <div class="box-container">

        <div class="box">
            <img src="/static/images/futsal.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/static/images/wedding.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/static/images/music.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/static/images/party events.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/static/images/login page 2.jpeg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/static/images/piya.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/static/images/for music.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <div class="box">
            <img src="/static/images/wedding2.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div>

        <!-- <div class="box">
            <img src="wedding2.jpg" alt="">
            <h3 class="title">photos and events</h3>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
        </div> -->
    </div>
</section>
<!-- Gallery sectoin ends -->

{% endblock %}