{% extends "base.html" %}

{% block title %}Services{% endblock title %}

{% block body %}
<seaction class ="Servics" id="Service">
    <h1 class="heading">our<span>Services</span></h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>Venues Selection</h3>
            <p>We will give you all the wide range in chooing the venues as our main purpose is to insure that our user can save the time so they will have more option in vanue.</p>
        </div>

        <div class="box">
            <i class="fas fa-music"></i>
            <h3>Entertainment</h3>
            <p>We will give you all the wide range in chooing the venues as our main purpose is to insure that our user can save the time so they will have more option in vanue.</p>
        </div>

        <div class="box">
            <i class="fas fa-birthday-cake"></i>
            <h3>custom food</h3>
            <p>We will give you all the wide range in chooing the venues as our main purpose is to insure that our user can save the time so they will have more option in vanue.</p>
        </div>

        <div class="box">
            <i class="fas fa-photo-video"></i>
            <h3>photos&videos</h3>
            <p>We will give you all the wide range in chooing the venues as our main purpose is to insure that our user can save the time so they will have more option in vanue.</p>
        </div>
    </div>

</seaction>
{% endblock body %}