{% extends "base.html" %}
{% block Title %}Wedding{% endblock Title %}
{% block body %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/futsal.css">
</head>
<body>
	<h1> Wedding Venues </h1>
	<div class="character">
		<div class="name">ABC</div>
		<div class="location">Location</div>
		<div class="about">
			<div class="price">Rs 900</div>
			<div class="Owner">rishav chaudhary</div>
		</div>
	</div>
	<div class="character">
		<div class="name">XYZ</div>
		<div class="location">Location</div>
		<div class="about">
			<div class="price">Rs 900</div>
			<div class="Owner">rishav chaudhary</div>
		</div>
	</div>
	<div class="character">
		<div class="name">LMN</div>
		<div class="location">Location</div>
		<div class="about">
			<div class="price">Rs 900</div>
			<div class="Owner">rishav chaudhary</div>
		</div>
	</div>
	<div class="character">
		<div class="name">PQR</div>
		<div class="location">Location</div>
		<div class="about">
			<div class="price">Rs 900</div>
			<div class="Owner">rishav chaudhary</div>
		</div>
	</div>
	{% comment %} <div class="character">
		<div class="name">Nico, Robin</div>
		<div class="role">Main</div>
		<div class="voice">
			<div class="language">Japanese</div>
			<div class="actor">Yamaguchi, Yuriko</div>
		</div>
	</div>
	<div class="character">
		<div class="name">Monkey D., Luffy</div>
		<div class="role">Main</div>
		<div class="voice">
			<div class="language">Japanese</div>
			<div class="actor">Nakai, Kazuya</div>
		</div>
	</div>
	<div class="character">
		<div class="name">Roronoa, Zoro</div>
		<div class="role">Main</div>
		<div class="voice">
			<div class="language">Japanese</div>
			<div class="actor">Tanaka, Mayumi</div>
		</div>
	</div> {% endcomment %}
	<div class="view-more">
		<a href="#">View more></a>
	</div>
</body>
</html>
{% endblock body %}
